@import '../../constants/styles';
@import '../../constants/modal';

.CustomStampModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 2px 16px 0 $signature-modal-shared-color;

    .custom-stamp-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 25px;

      .ActionButton {
        @extend %modal-close-button-style;
      }

      span {
        font-weight: bold;
      }
    }

    .custom-stamp-body {
      margin: 5px 24px;
      display: flex;
      flex-direction: column;

      .custom-stamp-uploader-wrapper {
        height: 200px;
        border: 1px solid $signature-modal-shared-color;
        border-radius: 4px;
        overflow: hidden;
      }

      .custom-stamp-size {
        display: flex;
        align-items: center;
        margin-top: 20px;

        label {
          margin-right: 10px;
          font-size: 0.9em;
        }

        input[type='text'] {
          font-size: 0.9em;
          @extend %text-input-style;
          height: 20px;
          width: 60px;
          margin-right: 15px;
        }
      }

      label[for='custom-stamp-aspect-ratio'] {
        flex-grow: 0;
        margin: 10px 0px 0px 18px;
        font-size: 0.9em;
      }
    }

    .custom-stamp-footer {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;

      .custom-stamp-create {
        @extend %modal-confirm-button-style;
        margin-right: 22px;
      }
    }
  }
}
