@import "../../constants/styles";

.Button {
  @include button-reset;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  width: 32px;
  height: 32px;

  &.disabled {
    cursor: default;
    opacity: 0.7;
  }

  // Only show focus state when modifier is focus (user is tabbing).
  &--focus:focus {
    background-color: var(--button-hover1);
  }

  // hack for clip art svg
  &[data-element="stampToolButton"] {
    polygon {
      fill: var(--icon-color);
    }
  }

  // color for svgs
  &.active {
    path:last-child:nth-child(4) {
      color: var(--selected-icon-color);
    }

    // hack for pan tool and annot select tool
    &[data-element="panToolButton"],
    &[data-element="selectToolButton"] {
      background: var(--view-header-button-active);
    }
  }

  &.active {
    .Icon {
      color: var(--selected-icon-color);
    }

    // hack for clip art svg
    &[data-element="stampToolButton"] {
      polygon {
        fill: var(--selected-icon-color);
      }
    }   
  }
}
