@import '../../constants/styles';
@import '../../constants/overlay';

.ViewControlsOverlay {
  @extend %overlay;
  
  // For iOS 10
  &.open {
    display: block;
  }

  flex-direction: column;
  top: 46px;


  .row {
    display: flex;
    align-items: center;
    padding: 1px 0;

    .type {
      width: 130px;
      padding-left: 10px;
    }
  
  }
}

@include mobile {
  .ViewControlsOverlay {
    left: 8px;
    top: calc(#{$top-bar-height-m} + 3px);
  }
}

@include desktop {
  .ViewControlsOverlay {
    .row {
      &.hide-in-desktop {
        display: none;
      }
    }
  }
}

@include tablet {
  .ViewControlsOverlay {
    .row {
      &.hide-in-tablet {
        display: none;
      }
    }
  }
}