@import '../../../constants/styles';

.image-signature {
  margin: 0px 24px;
  width: 552px;
  height: 200px;
  border: 1px solid $signature-modal-shared-color;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
    }

    .Button {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}

