@import '../../constants/styles';

$icon-size: 24px;
$icon-verical-padding: 5px;
$icon-side-padding: 20px;

$textHeight: 30px;

.documentControls {
    background-color: var(--border-color);
    position: absolute;
    bottom: 0px;
    height: $textHeight + $icon-size + 2 * $icon-verical-padding;
    width: 100%;
    text-align: center;
   

    &.hidden{
        height: 0px;
        overflow: hidden;
    }

    transition: height 0.5s;

    .pagesInput{
        width: 100%
    }

    .documentControlsButton{
        display: flex;

        .Button{
            display: inline-flex;
            height: 100%;
            min-width: $icon-size;
            flex-grow: 1;
    
            &:hover{
                background-color: var(--icon-color);
                .Icon {
                    color: var(--border-color);
                }
            }
        }  
    }  
}