@import '../../constants/styles';

$icon-size: 24px;
$icon-verical-padding: 5px;
$icon-side-padding: 20px;

.documentControls {
    background-color: var(--border-color);
    position: absolute;
    bottom: 0px;
    height: $icon-size + 2 * $icon-verical-padding;
    width: 100%;
    text-align: center;
    display: flex;

    &.hidden{
        height: 0px;
        overflow: hidden;
    }

    transition: height 0.5s;

    .Button{
        display: inline-flex;
        height: 100%;
        min-width: $icon-size;
        flex-grow: 1;

        &:hover{
            background-color: var(--icon-color);
            .Icon {
                color: var(--border-color);
            }
        }
    }    
}