@import './styles';

$modal-z-index: 100;

%modal {
  @extend %open;
  @extend %closed;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: $modal-z-index;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}

%modal-shared-container-style {
  background: $white;
  background: var(--primary-color);
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
}

%modal-confirm-button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  padding: 6px 18px;
  background: $pdftron-blue;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid $pdftron-blue;
  height: 32px;
  cursor: pointer;

  &:hover {
    background: #17324c;
    border: 1px solid #17324c;
  }
}

%tab-button-common-style {
  padding: 0px 12px;
  border-bottom: 3px solid transparent;

  &.selected {
    border-bottom: 3px solid $pdftron-blue;
  }

  &:hover {
    color: $pdftron-blue;
    background: transparent;
  }
}

%modal-close-button-style {
  margin-right: -13px;

  &:hover {
    background: transparent;

    svg {
      color: $pdftron-blue;
    }
  }
}
