@import '../../constants/panel';

.ThumbnailsPanel {
  display: flex;

  .virtualized-thumbnails-container {
    flex: 1; 
    .thumbnailsList > div{
      overflow: visible !important;
    }
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .documentControlContainer{
    bottom: 0px;
    width: calc(100%);
  }

  .thumbnailPlaceholder{
    border-color: $gray87;
  }
}
