@import '../../constants/styles';
@import '../../constants/modal';

.SignatureValidationModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 2px 16px 0 $signature-modal-shared-color; 

    .validation-header {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding: 10px 0;
      background-color: rgb(255, 121, 121);
      // background-color: rgb(247, 177, 111);
      // background-color: rgb(141, 216, 141);
      // background-color: $signature-modal-shared-color;

      .Icon {
        position: absolute;
        left: 70px;
      }
    }

    .validation-body {
      padding: 10px;
    }

    .signature-widget-info {
      margin-top: 0px;

      .body {
        margin-left: 37px;
    
        & > * {
          margin-top: 10px;
    
          & > * {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
