@import '../../constants/styles';
@import '../../constants/modal';

.SignatureValidationModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 4px;
    box-shadow: 0 2px 16px 0 $signature-modal-shared-color;
    min-width: 350px;

    .validation-header {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding: 10px 0;
      font-size: 1.2em;

      [data-element='signatureValidationModalCloseButton'] {
        position: absolute;
        right: 0px;

        &:hover {
          background: none;
        }
      }
    }

    .center {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .validation-body {
      margin-top: 10px;

      p {
        margin: 0;
      }

      position: relative;
      padding: 10px 20px;
      min-height: 100px;
      display: flex;
      font-size: 0.9em;

      .signature-icon {
        position: absolute;
        left: 10px;
        top: 10px;
      }

      .inner {
        display: flex;
        flex-direction: column;
        margin-left: 35px;

        & > * {
          margin-bottom: 8px;
        }
      }
    }

    .validation-footer {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;

      [data-element='signaturePropertiesButton'] {
        margin-right: 10px;
        font-size: 0.9em;
        border: 1px solid #ddd;
        border-radius: 4px;

        p {
          margin: 0;
        }

        &:hover {
          background: none;
        }
      }
    }
  }
}
