@import '../../constants/styles';
@import '../../constants/modal';

.SignatureValidationModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 2px 16px 0 $signature-modal-shared-color; 

    .validation-header {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding: 10px 0;
      background-color: $signature-modal-shared-color;
    }

    .validation-body {
      padding: 10px;
    }
  }
}
