@import '../../constants/styles';

.OverlayItem {
  @include button-reset;
  margin: 2px 0px;
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 14px;
  padding-left: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }
}
